<mat-list>
  <mat-list-item>

    <img mat-line mat-list-avatar src="https://st-listas.20minutos.es/images/2012-07/337664/3628529_640px.jpg?1409656087" alt="">
    <span matLine>Luis Cevallos</span>
    <span matLine>Guayaquil </span>
  </mat-list-item>

  <mat-list-item>
    <span matLine>Jorge Perez</span>
    <span matLine>Lima </span>
  </mat-list-item>

  <mat-list-item>
    <img mat-line mat-list-avatar src="http://3.bp.blogspot.com/-zeKWhiFoF1o/T_QFQgt7AYI/AAAAAAAALr4/yWqyvQq8e2c/s400/Inna+new+pic+2012+03.jpg" alt="">
    <span matLine>Heide Jaramillo</span>
    <span matLine>Bogota </span>
  </mat-list-item>
</mat-list>
